<div class="row mt-4">
  <div class="col-lg-9 col-md-12 col-sm-12 col-12 p-3">
    <mat-card class="wrapper d-flex justify-content-center align-items-center">
      <mat-card id="image-replacement"></mat-card>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-12 p-3">
    <mat-card class="wrapper">
      <mat-card id="text-replacement-1" class="mt-4"></mat-card>
      <mat-card id="text-replacement-2" class="mt-2"></mat-card>
      <div class="d-flex justify-content-between align-items-center mt-5">
        <mat-card id="cart-button-replacement"></mat-card>
        <div id="wishlist-button-replacement"></div>
      </div>
    </mat-card>
  </div>
</div>
