<div class="d-flex align-items-center justify-content-center h-100 w-100" id="container">
  <div class="row w-100 flex-md-column justify-content-around align-items-center">
      <img @fadeImage 
           src="assets/Images/home-page-images/photo5/photo5_small.jpg"
           srcset="assets/Images/home-page-images/photo5/photo5_small.jpg 640w, 
                   assets/Images/home-page-images/photo5/photo5_medium.jpg 1280w,
                   assets/Images/home-page-images/photo5/photo5_large.jpg 1920w"
           alt="An image with a melon"
           sizes="(min-width: 768px) 60vw, 33vw">
      <button @fadeButton type="button" routerLink='/product-list'>
        Shop
        <span></span><span></span><span></span><span></span> <!--Used for styling-->
      </button>
  </div>
</div>
