<div class="container-fluid" id="wrapper-for-font-size">
  <div class="row">
    <ng-container *ngIf="product$ | async as product; else loading">
        <app-image-slider [imageLink] ="product.image"
          class="col-lg-9 col-md-12 col-sm-12 col-12 mt-4"
        ></app-image-slider>
        <app-product-details [productName]="product.name"
          [productDescription]="product.description"
          [product_id]="product.product_id"
          [productPrice]="product.price"
          class="col-lg-3 col-md-12 col-sm-12 col-12 mt-4"
        ></app-product-details>
    </ng-container>
  </div>
    <ng-template #loading>  
      <app-loading class="w-100"></app-loading>
    </ng-template>
</div>

  <!-- <div class="col-10"id="product-block">
    <div class="row">
      <div class="description-container col-6">
        {{productTargeted.description}}
      </div>
    </div>
  </div> -->

