<mat-stepper #stepper orientation="horizontal">
  <mat-step [stepControl]="deliveryForm">
    <ng-template matStepLabel>Delivery</ng-template>
    <ng-template matStepContent>
      <app-delivery>
      </app-delivery>
      <button mat-button matStepperNext type="button">Next</button>
    </ng-template>
  </mat-step>
  <mat-step [stepControl]="deliveryAddressForm">
    <ng-template matStepLabel>Address</ng-template>
    <ng-template matStepContent>
      <app-address></app-address>
      <button mat-button matStepperNext type="button">Next</button>
    </ng-template>
  </mat-step>
  <mat-step [stepControl]="billingAddressForm">
    <ng-template matStepLabel>Payment</ng-template>
    <ng-template matStepContent>
      <app-payment></app-payment>
      <div class="w-100">
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button (click)="submitAllForms()" type="button">Next</button>
      </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <ng-template matStepContent>
      <app-review ></app-review>
    <button mat-button matStepperPrevious type="button">Back</button>
    </ng-template>
  </mat-step>
</mat-stepper>